<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../Main/main.css">
</head>

<body>
    <div class="menu">
        <div class="title">
            <!-- <div class="min_picture"></div> -->

            <div class="main_logo"></div>
            <!-- <img class="imgStyle" src="" alt="Logo"> -->
            <span><a href="#">後台系統</a></span>
        </div>
        <div class="side_bar">
            <ul>
                <li><a href="#">票卷訂單</a></li>
                <li><a href="#">訂單管理</a></li>
                <li><a href="#">報表統計</a></li>
                <li><a href="#">商品上架</a></li>
            </ul>
            <div class="log_out"><a href="#">登出</a></div>
        </div>

    </div>

    <div class="content">
        <div class="search_bar">
            <div class="search_block">查詢</div>

            <div class="data_table">
                <thead>
                    <th>#</th>
                    <th>名稱</th>
                    <th>電話</th>
                    <th>地址</th>
                    <th>成人口罩庫存</th>
                    <th>孩童口罩庫存</th>
                </thead>
                <br />
                <tbody>
                    <!-- <% data.forEach((item ,index) => { %>
                        <tr>
                            <td><%= index+1%></td>
                            <td><%= item.name%></td>
                            <td><%= item.phone%></td>
                            <td><%= item.address%></td>
                            <td><%= item.adult_mask%></td>
                            <td><%= item.child_mask%></td>
                        </tr>
                    <% }) %> -->
                    <tr>
                        <td>1</td>
                        <td>穎川藥局</td>
                        <td>(02)296606</td>
                        <td>新北市板橋區民權路202巷4弄1號</td>
                        <td>0</td>
                        <td>458</td>
                    </tr>
                    <br />
                    <tr>
                        <td>2</td>
                        <td>順儷民權藥局</td>
                        <td>(02)296095</td>
                        <td>新北市板橋區民權路234號1樓</td>
                        <td>0</td>
                        <td>2065</td>
                    </tr>
                    <br />
                    <tr>
                        <td>3</td>
                        <td>穎川藥局</td>
                        <td>(02)296606</td>
                        <td>新北市板橋區民權路202巷4弄1號</td>
                        <td>0</td>
                        <td>458</td>
                    </tr>
                    <br />
                    <tr>
                        <td>4</td>
                        <td>順儷民權藥局</td>
                        <td>(02)296095</td>
                        <td>新北市板橋區民權路234號1樓</td>
                        <td>0</td>
                        <td>2065</td>
                    </tr>
                    <br />
                    <tr>
                        <td>5</td>
                        <td>穎川藥局</td>
                        <td>(02)296606</td>
                        <td>新北市板橋區民權路202巷4弄1號</td>
                        <td>0</td>
                        <td>458</td>
                    </tr>
                    <br />
                    <tr>
                        <td>6</td>
                        <td>順儷民權藥局</td>
                        <td>(02)296095</td>
                        <td>新北市板橋區民權路234號1樓</td>
                        <td>0</td>
                        <td>2065</td>
                    </tr>
                </tbody>

            </div>
        </div>
    </div>
</body>

</html>