<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="./main.scss"> -->
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="container">
        <div class="menu">
            <div class="title">
                <!-- <div class="min_picture"></div> -->

                <div class="main-logo"></div>
                <!-- <img class="imgStyle" src="" alt="Logo"> -->
                <span class="title-name"><a href="#">後台系統</a></span>
            </div>
            <div class="side-bar">
                <ul>
                    <li><a href="#">票卷訂單</a></li>
                    <li><a href="#">訂單管理</a></li>
                    <li><a href="#">報表統計</a></li>
                    <li><a href="#">商品上架</a></li>
                </ul>
                <div class="log-out"><a href="#">登出</a></div>
            </div>

        </div>

        <div class="content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum facilis corrupti provident, laborum iusto minima iste voluptates ea hic exercitationem reprehenderit! Fugit delectus atque placeat blanditiis praesentium veritatis cupiditate id?
            Voluptatibus est laudantium sit voluptatem rerum nemo deserunt unde totam repudiandae, voluptas enim necessitatibus, earum, nesciunt in praesentium dicta adipisci blanditiis? Quas consectetur officiis autem id sequi quisquam fuga numquam.
            Sit enim eveniet minima. Inventore hic temporibus laudantium veniam voluptatibus odio in minus, architecto nam laboriosam. Ex rem quod expedita delectus ab unde architecto doloribus consequatur recusandae! Ex, accusantium vel!
            Nam molestias voluptatum natus? Optio, expedita perferendis dolores, quidem vero nostrum veniam modi ab autem nemo eius maxime. Pariatur cupiditate totam, optio delectus veritatis explicabo quisquam animi nulla a recusandae.
            Esse iusto vero quia dolorum dicta, totam aut expedita rem illum eos minima sit animi perspiciatis blanditiis, ab officiis sequi quam mollitia odio, amet deleniti quasi? Optio adipisci commodi magni!
            Impedit facere, assumenda ut iure sapiente alias necessitatibus? Quos tempore error magnam ducimus facere! Non modi recusandae delectus quas deleniti dignissimos aliquam exercitationem officia possimus. Hic illum quod natus recusandae?
            Quo consectetur nobis nesciunt obcaecati ipsa quam laudantium at odio consequuntur non vitae tempora magnam saepe, aut fugiat eum ex hic doloremque! Cum consectetur fuga omnis, voluptatum culpa labore ea?
            Nam, eos dolor. Et dolor doloremque ad maiores cumque perspiciatis vitae consequatur, distinctio, velit temporibus dolore praesentium fugiat consectetur cupiditate perferendis nostrum voluptate facere sunt. Veniam ratione quis odio numquam?
            Facere magni minus reprehenderit rem minima, eos aperiam asperiores assumenda praesentium quia, sapiente at veniam debitis fugiat! Adipisci ipsam, laborum debitis rem amet odio ratione delectus cum voluptatibus. Quisquam, atque!
            Ullam tenetur et soluta, maiores aliquid fuga maxime repellat distinctio explicabo quod earum corrupti blanditiis aperiam unde dolores dolorum officia illum cum eveniet sunt totam eligendi quae magnam. A, quo?
            Sed voluptates dicta nisi! Recusandae ipsum nam alias quos neque temporibus autem praesentium quod illo. Quia quasi nulla architecto magni delectus, sit, est dolorem molestiae distinctio nihil recusandae et reiciendis.
            Quisquam numquam pariatur, saepe molestiae atque non, temporibus excepturi totam reiciendis inventore laudantium quam sint dicta architecto itaque nesciunt nostrum possimus fugiat vitae mollitia earum est! Vero, accusamus! Delectus, dignissimos.
            Amet aliquid minus error beatae voluptas esse enim rerum illo, quos molestias expedita alias explicabo? Nihil perspiciatis sit suscipit pariatur accusamus id est odio voluptates non hic, dolorum iure labore!
            Expedita officia eligendi fugit ipsum dolorem nesciunt, quasi nihil nostrum dolor suscipit qui ad animi aliquam et ut, cum ipsa esse aperiam fuga ducimus. Blanditiis incidunt quisquam ipsam impedit temporibus.
            Magnam cupiditate est consequuntur aspernatur impedit unde laborum perspiciatis architecto laudantium, error dolor quod officia voluptatem eos nam explicabo necessitatibus iste dolores eligendi repudiandae itaque rem voluptates, minus ad? Ex.
            In nulla numquam, amet optio dignissimos, similique illo aperiam consequatur eligendi voluptatum quibusdam eum deleniti tempora commodi modi, ad recusandae hic alias quae blanditiis dolor fugiat. Voluptatum harum officiis exercitationem!
            Quis temporibus veritatis tempore libero mollitia at veniam qui repudiandae voluptatum quod quas iusto, minus corporis expedita molestias ad laboriosam ut nisi nam enim vel provident. Dolorum ad error nemo?
            Aperiam expedita, temporibus iure obcaecati eaque praesentium error nihil iste et voluptatibus totam quaerat asperiores nemo veritatis omnis odit, a ad velit accusantium? Magni perferendis quibusdam natus, nam vero culpa.
            Quibusdam eaque quasi nulla est quidem fuga itaque in nostrum hic distinctio aspernatur perferendis illo natus impedit dolores, eum facilis unde voluptatibus veniam. Excepturi, tempore a saepe ipsam quis voluptatibus.
            Deleniti vero dolor, accusamus architecto animi tenetur impedit veritatis, cupiditate suscipit placeat perferendis! Porro neque dolore earum placeat laborum nostrum eaque error minus delectus, illum repudiandae adipisci natus, id recusandae?
            Incidunt quibusdam doloribus et beatae recusandae libero atque. Sapiente nobis omnis voluptatibus accusantium esse mollitia! Enim nobis libero, obcaecati minima alias dolores adipisci deleniti dolore, sit provident beatae, id quaerat.
            Voluptatibus, facilis aut excepturi iusto perspiciatis possimus atque pariatur dolore ea voluptate illo deleniti exercitationem quis tenetur facere, nihil expedita magni natus explicabo laboriosam voluptatum praesentium fugit blanditiis recusandae. Eveniet!
            Consequatur obcaecati quibusdam maxime omnis rerum, ullam veniam officia cum iusto recusandae doloremque, assumenda quia suscipit debitis ratione, tempora sint pariatur praesentium quis. Quia ab dolorem distinctio repellendus incidunt est?
            Iusto neque numquam aliquid commodi voluptatum ratione incidunt eos deserunt. Vero aut, deserunt facilis odit, magni vitae officia expedita recusandae voluptas reiciendis labore praesentium vel at. Excepturi odio unde numquam.
            Praesentium culpa, itaque voluptas dicta omnis architecto eaque cum hic. Laudantium rerum sunt at tempora vitae ad voluptatum iusto reiciendis, dignissimos sint aut doloribus beatae culpa dolorum harum cumque obcaecati.
            Facere at dolorem, quod corrupti numquam ipsam ut illum harum doloremque voluptatem quis culpa provident, cupiditate distinctio vero? Vel sunt fugit dolore doloremque praesentium ullam id rerum dicta architecto explicabo?
            Culpa necessitatibus excepturi veniam ullam aspernatur temporibus nam laudantium alias cupiditate minima! Dolorum optio quos illo et quisquam libero quas voluptas dolore! Quia eaque quae rerum harum sequi natus explicabo?
            Delectus sapiente, ea similique molestias nobis inventore aspernatur voluptatem voluptates. Aspernatur error repellat atque soluta voluptates ea similique, nam maxime in ullam non enim unde laudantium sed dicta quibusdam nulla.
            Distinctio voluptatum reiciendis quo, saepe libero nostrum ducimus, cupiditate aut animi sunt repudiandae eaque earum, commodi doloribus quibusdam porro vel enim beatae veniam odit quis? Fugit provident id tenetur quia.
            Error vero voluptas, earum in quisquam ex nulla, expedita sint sed voluptatibus molestias numquam. Dicta fuga ratione eum blanditiis soluta ab vero ipsam totam dignissimos laborum, dolor omnis id accusamus.</p>

        </div>
    </div>

</body>

</html>